
/*Nav*/
nav{
  background-color: black;

}
.nav-links{
  color:aliceblue;
  font-weight: bold;
  text-decoration: none;
  
}
.pages{
  background-image: url("../src/assets/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}
/*Hpme Page*/
#services{
  background-color: rgb(150, 196, 236);
  width:80%;
  display:block;
  margin-left: auto;
  margin-right: auto;
  height:auto;
  text-align: center;
  padding: 5%;
}
/*Quick Help*/
#quick-help{
  background-color: rgb(150,196,236,0.7);
  margin-top: 5%;
}

/*Demos*/
.demos{
  background-color: rgb(150,196,236,0.4);
  color:white;
  margin-top: 5%;
}
/*Victims*/
#victim-add-info{
  background-color: rgb(150,196,236,0.7);
}
/*report form*/
#report-case-gender{
  background-color: white;
}
/*Footer*/

footer{
  background-color: black;
  height: 50vh;
  color: white;
}
#footer-contents{
  display: flex;
  flex-direction: column;
}