
/*Nav*/
nav{
  background-color: black;

}
#top-nav{
  display: flex;
  flex-direction: row;
}
#hamburger{
  width:10vh;
  height: 10vh;
  display: block;
  margin-left: auto;
  margin-right: 5%;
  margin-top: auto;
  margin-bottom: auto;
  

}
.lower-nav-no-display{
  display: none;
}
.lower-nav-display{
  display: flex;
  flex-direction: column;
  text-align: center;
}
#nav-logo{
  width:40vw;
}
.nav-links{
  color:aliceblue;
  font-weight: bold;
  text-decoration: none;
  
}
.pages{
  background-image: url("../src/assets/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  padding-bottom: 5%;
}
/*Hpme Page*/
#services{
  background-color: rgb(150, 196, 236);
  width:80%;
  display:block;
  margin-left: auto;
  margin-right: auto;
  height:auto;
  text-align: center;
  padding: 5%;
}
/*Quick Help*/
#quick-help{
  background-color: rgb(150,196,236,0.7);
  margin-top: 5%;
}

/*Demos*/
.demos{
  background-color: rgb(150,196,236,0.4);
  color:white;
  margin-top: 5%;
}
/*Victims*/
#victim-add-info{
  background-color: rgb(150,196,236,0.7);
}
/*report form*/
#report-case-gender{
  background-color: white;
}

/*Reffering Organisation*/

.form-ref-org{
  background-color: rgb(150,196,236);
  text-align: center;
  margin-top: 5%;
  width:80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 5%;

}

/*Footer*/

footer{
  text-align: center;
  padding-top: 5%;
  background-color: black;
  height: 50vh;
  color: white;
}
#footer-contents{
  display: flex;
  flex-direction: column;
}