.fix{
  background-color: red;
}
/*Bank*/
.blank{
  height: 5vh;
}
/*Nav*/
nav{
  background-color: black;

}
#top-nav{
  display: flex;
  flex-direction: row;
}
#hamburger{
  width:10vh;
  height: 10vh;
  display: block;
  margin-left: auto;
  margin-right: 5%;
  margin-top: auto;
  margin-bottom: auto;
  }
.lower-nav-no-display{
  display: none;
}
.lower-nav-display{
  display: flex;
  flex-direction: column;
  text-align: center;
}
#nav-logo{
  width:40vw;
}
.nav-links{
  color:gold;
  border:white solid;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5%;
}
/******************************************************************************************************/
/*Headings*/
h1,h2, h3{
  text-align: center;
  padding-top: 5%;
  font-weight: bolder;
  color: white;
}
h4{
  text-align: center;
  font-weight: bolder;
  color:blue;
}
/*Pages*/
.pages{
  background-image: url("../src/assets/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  padding-bottom: 5%;
}
/***************************************************************************************************************/
/*Home Page*/
#home{
  padding-top: 5%;
}
#services{
  background-color: rgb(150, 196, 236);
  width:80%;
  display:block;
  margin-left: auto;
  margin-right: auto;
  height:auto;
  text-align: center;
  padding: 5%;
}
/*list*/
.hidden-list{
  list-style: none;

}
/*Quick Help*/
#quick-help{
  background-color: rgb(150,196,236,0.7);
  margin-top: 5%;
  padding: 5%;
}
#quick-help-buttons{
  display: flex;
  flex-direction: row;
  background-color: black;
  justify-content: center;
  column-gap: 5%;
  padding: 5%;
}

/*Demos*/
.demos{
  background-color: rgb(150,196,236,0.4);
  color:white;
  margin-top: 5%;
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 80%;
  padding-bottom: 5%;
}
.demos p{
  margin-left: 5%;
}
/*Callback*/
#callback{
  display: flex;
  flex-direction: column;
  width:80%;
  margin-left: auto;
  margin-right: auto;
}
#callback input{
  margin-bottom: 2%;
}

/*********************************************************************************************************/
/*Victims*/
#tracking{
  background-color: black;
  text-align: center;
  padding-bottom: 5%;
  margin-bottom: 5%;
}
#tracking > input{
  height: 20vh;
}
#victim-add-info{
  background-color: rgb(150,196,236,0.7);
}
#report{
  background-color: white;
  border: bold solid;
  width: 80%;
  display:block;
  margin-left: auto;
  margin-right: auto;
}
/*report form*/
#report-form {
  display: flex;
  flex-direction: column;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  padding-top: 5%;
  padding-bottom: 5%;
   margin-top: 5%;
}
.report-input{
    width:80%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 2%;
  text-align: center;
}
label{
  text-align: center;
  font-weight: bolder;
  color: blue;
}
/*report image*/
#report-img{
  width:90%;
  display: block;
  margin-right: auto;
  margin-left: auto;
}
/*******************************************************************************************************************/

/*Reffering Organisation*/

.form-ref-org{
  background-color: rgb(150,196,236);
  text-align: center;
  margin-top: 5%;
  width:80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 5%;

}
.form-ref-org  input{
margin-bottom: 2%;
}
.form-ref-org button{
  border: none;
}
/*******************************************************************************************************************/
/*Buttons*/
button{
  border: none;
}
.form-buttons{
  background-color:green;
  color:white;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
#emergency{
  background-color: red;
  color: white;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5%;
}
#emergency > a{
  text-decoration: none;
  color: white;
}
.learn-more{
  display: block;
  margin-right: auto;
  margin-left: auto;
  background-color: orange;
  color:white;
  margin-bottom: 5%; 

}
.hidden-links{
  text-decoration: none;
}
/*************************************************************************************************************/
/*Staff*/
#staff-container{
  padding-top: 20%;
  display: flex; 
  flex-direction: column;
 
}
.staff-links>button{
  text-align: center;
  margin-bottom: 10%;
  background-color: green;
  color:white;  
}
/*Staff forms*/
.staff-forms{
  margin-top: 5%;
  background-color: white;
  padding-bottom: 5%;
 
 }
 .staff-forms > form{
   display:flex;
   flex-direction: column;
   width:80%;
   margin-left:auto;
   margin-right: auto;

 }
 .staff-forms > form > input{
  margin-bottom: 5%;
 
 }
 .toggle-form{
  color: blue;
  font-weight: bold;
  text-align: center;
 }
/*************************************************************************************************************/
/*FAQ*/
#faq-container{
  padding-top: 10%;
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 80%;
}
.faq-answer{
  background-color: rgb(150,196,236,0.4);
  padding: 5%;
  color:white;
}
/****************************************************************************************************************/
/* Manager Dashboard*/
#overview{
  margin-top: 10%;
  
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

}
#overview>section{
  background-color: black;
  margin-top: 5%;
    color: gold;
}
/********************************************************************************************************/
/*Socia;l Dashboar*/
.profile{
  background-color: white;
  width:80vw;
  height:auto;
  margin-top: 10%;
}
/***************************************************************************************************************/ 
/*Footer*/
footer{
  text-align: center;
  padding-top: 5%;
  background-color: black;
  color: white;
}
#footer-contents{
  display: flex;
  flex-direction: column;

}
#footer-socials{
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 5%;
  padding-top: 5%;
}
#map{
  margin-top: 5%;
}
#cyf{
  width:20vw;
  margin-bottom: 5%;
}
/***********************************************************************************************************************/
/*Tablet View*/

@media screen and (min-width: 570px){

  nav{
    display: flex;
    flex-direction: row;
    height: 25vh;
  }

  #hamburger{
    display:none;
  }
  .lower-nav-no-display{
  display: flex;
  flex-direction: row;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 0;
}
.nav-links{
  padding: 2%;
  margin-bottom: 5%;
  margin-top: 0;
  text-align: center;
  border:none;
  margin-top: 5%;
  height: 15vh;
  font-size: small;
}
#nav-logo{
  width:20vw;
  height: 25vh;
}
/*Home****************************************/
#callback{
  width:60%;
  }
/*********************Staff**************/
#staff-container{ 
  flex-direction: row;
  justify-content: space-around;
 }
/*Forms*/
.staff-forms {
  display: block;
  margin-right: auto;
  margin-left: auto;   
   width:60%;
   padding-top: 3%;
 }
 /*********************************************************************************************************/
/*Victims*/
#tracking{
  width:80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

}
#track-button{
  background-color: green;
  color:white;
  margin-left: 0.5%;
  padding: 1%;
}
#report-img{
  width:70%;

}
.report-input{
    width:60%;
  
}
 /*************************Dashboard**********************************************/
 #overview>section{
   width: 60%;
   display: block;
   margin-left: auto;
   margin-right: auto;
}


 footer{
  padding-bottom: 5%;
  padding-left: 5%;
}
 #footer-contents{
  flex-direction: grid;
  grid-template-columns: auto auto;
  margin-bottom: 5%;

 }
 #map{
  margin-top: 1%;
 }
 #our-contact{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
 }

}
/**********************************************************************************************/

@media screen and (min-width: 700px){
  /*Home*/
  #callback{
  width:40%;
  }
  /*Victims*/
#tracking{
  width:60%;
}
.report-input{
    width:50%;

}

  .staff-forms > form{
      width:40%;
    }
 /************Dashboard**********************/
 #overview{
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 margin: 0 10%;
 }
 #overview>section{
  padding: 5%;
 }

}